<div class="container">
  <div class="customers">
    <fieldset class="customer-fields">
      <legend class="customer-legends">
        &ensp;<strong><h1>A N N O U N C E M E N T S</h1></strong>
      </legend>
      <div class="container">
        {{#each data}}
        <div class="row">
          <div class="col-md-12">
            <div class="customer-contents">
              ____________________________________________________________________________________
              <div class="customer-contents2">
                <li><b>Name:</b><br> {{this.name }}</li>
                <li><b>Description:</b><br> {{this.description}}</li>
                <li><b>Tagline:</b><br> {{this.tagline}}</li>
                <li><b>Image:</b> <br><img src="{{image}} " style=" height:50px; width:50px;"><img src="{{image1}} " style=" height:50px; width:50px;"><img src="{{image2}} " style=" height:50px; width:50px;"></li>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </fieldset>
  </div>
</div>