		<input type="hidden" name="id" value="{{this.id}}">
<div class="container-fluid slide-margin">
		
		<div class="row">
			<div class="col-md">
				<div class="mav-box">
					<div class="content-con">
						<h1 class="title-txt">News and Events</h1>
						<div class="article-box">
									<h1 align="center">{{name}}</h1>
							<div class="full-article">
								<img class="full-img1" src="{{image}}" id="full-img1">
									<img class="full-img2" src="{{image1}}" id="full-img2">
									<img class="full-img3" src="{{image2}}" id="full-img3">
								<p class="article-p">
									{{description}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

